absl-py==2.1.0
AccessControl==7.2
Acquisition==6.1
addict==2.4.0
anykeystore==0.2
apex==0.9.10.dev0
astunparse==1.6.3
AuthEncoding==5.0
autocommand==2.2.2
autopep8==2.0.0
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
BTrees==6.1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
Chameleon==4.4.4
charset-normalizer==3.3.2
coco==0.0.0
contourpy==1.1.1
cryptacular==1.6.2
cycler==0.12.1
Cython==0.29.36
DateTime==5.5
DCN==1.0
defusedxml==0.7.1
DocumentTemplate==4.6
easydict==1.13
ExtensionClass==6.0
filelock==3.16.0
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.9.0
gast==0.4.0
google-auth==2.34.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.66.1
h5py==3.11.0
huggingface-hub==0.24.6
hupper==1.12.1
idna==3.8
imagecorruptions==1.1.2
imageio==2.35.1
importlib_metadata==8.4.0
importlib_resources==6.4.4
inflect==7.3.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
joblib==1.4.2
keras==2.13.1
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.41.1
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
mmcv==2.2.0
mmengine==0.10.5
more-itertools==10.3.0
MultiMapping==5.0
multipart==1.1.0
munch==4.0.0
networkx==3.1
numba==0.58.1
numpy==1.24.3
oauthlib==3.2.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt-einsum==3.3.0
ordered-set==4.1.0
packaging==24.1
pandas==2.0.3
PasteDeploy==3.1.0
pbkdf2==1.3
Persistence==5.1
persistent==6.1
pillow==10.4.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.2.2
pretrainedmodels==0.7.4
progress==1.6
protobuf==4.25.4
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycocotools==2.0.7
pycodestyle==2.9.1
pycparser==2.22
Pygments==2.18.0
pyparsing==3.1.4
pyramid==1.5
pyramid-mailer==0.15.1
python-dateutil==2.9.0.post0
python-gettext==5.0
python3-openid==3.2.0
pytz==2024.1
PyWavelets==1.4.1
PyYAML==6.0.2
repoze.lru==0.7
repoze.sendmail==4.4.1
requests==2.32.3
requests-oauthlib==2.0.0
RestrictedPython==7.4
rich==13.9.2
roman==4.2
rsa==4.9
safetensors==0.4.5
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
six==1.16.0
soupsieve==2.6
SQLAlchemy==2.0.36
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2023.7.10
timm==1.0.9
tomli==2.0.1
torch @ file:///home/ff/torch-1.11.0%2Bcu115-cp38-cp38-linux_x86_64.whl#sha256=02779dc7c0cd188416496adb233ae9e3988a9aa73d9ebba3624507d0f2111f3c
torchaudio @ file:///home/ff/torchaudio-0.11.0%2Bcu115-cp38-cp38-linux_x86_64.whl#sha256=bf235f32e1399244e4efe425daf8ffef5981fcc1279daa47f4bdbd242cc3af7a
torchinfo==1.8.0
torchsummary==1.5.1
torchvision @ file:///home/ff/torchvision-0.12.0%2Bcu115-cp38-cp38-linux_x86_64.whl#sha256=817b3c3f64363b889a6a8c60ab8a322fbc1aa8ea1697e798d8a0ade1f7340cb7
tqdm==4.66.5
transaction==5.0
translationstring==1.4
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2024.1
UNKNOWN==0.0.0
urllib3==2.2.2
velruse==1.1.1
venusian==3.1.0
waitress==3.0.0
webcolors==24.8.0
WebOb==1.8.9
WebTest==3.0.1
Werkzeug==3.0.4
wrapt==1.16.0
WSGIProxy2==0.5.1
WTForms==3.1.2
wtforms-recaptcha==0.3.2
yacs==0.1.8
yapf==0.43.0
z3c.pt==4.4
zc.lockfile==3.0.post1
ZConfig==4.1
zExceptions==5.0
zipp==3.20.1
ZODB==6.0
zodbpickle==4.1.1
Zope==5.11.1
zope.annotation==5.0
zope.browser==3.0
zope.browsermenu==5.0
zope.browserpage==5.0
zope.browserresource==5.1
zope.cachedescriptors==5.0
zope.component==6.0
zope.configuration==5.0.1
zope.container==6.1
zope.contentprovider==6.0
zope.contenttype==5.1
zope.datetime==5.0.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.dottedname==6.0
zope.event==5.0
zope.exceptions==5.2
zope.filerepresentation==6.0
zope.globalrequest==2.0
zope.hookable==7.0
zope.i18n==5.2
zope.i18nmessageid==7.0
zope.interface==7.1.1
zope.lifecycleevent==5.0
zope.location==5.0
zope.pagetemplate==5.1
zope.processlifetime==3.0
zope.proxy==6.1
zope.ptresource==5.0
zope.publisher==7.1
zope.schema==7.0.1
zope.security==7.3
zope.sequencesort==5.0
zope.site==5.0
zope.size==5.0
zope.sqlalchemy==3.1
zope.structuredtext==5.0
zope.tal==5.0.1
zope.tales==6.0
zope.testbrowser==7.0
zope.testing==5.0.1
zope.traversing==5.0
zope.viewlet==5.0
